<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Books</title>
	</head>
	<body>
		<h1>Books:</h1>
		<% if (books) {%>
		<ul>
			<% books.forEach((book) => {%>
			<li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
			<% }) %>
		</ul>
		<%} else { %>
		<h2>There are no books.</h2>
		<%}%>
		<a href="/">Main page</a>
	</body>
</html>
