<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Genres</title>
	</head>
	<body>
		<h1>List of all genres:</h1>
		<a href="/genres/new">Add new genre</a>
		<% if (genres) {%>
		<ul>
			<% genres.forEach((genre) => {%>
			<li><a href="/genres/<%= genre.id %>"><%= genre.name %></a></li>
			<% }) %>
		</ul>
		<%} else { %>
		<h2>There are no genre.</h2>
		<%}%>
		<a href="/">Main page</a>
	</body>
</html>
